.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 20px;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.product-list {
  border: 1px solid black;
  padding-left: 0;
  width: 420px;
}

.product {
  list-style: none;
  color: #666;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid black;
  background-color: white;
}

.product:nth-child(odd) {
  background-color: #eaeaea;
}

.product:last-child {
  border-bottom: 0;
}

.photo {
  border-radius: 8px;
  object-fit: cover;
}

.details {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 12px;
}

.name {
  font-weight: 600;
}

.price {
  white-space: nowrap;
}
